
</div><!-- .container -->
<div id="home" class ="jumbotron text-center">
  <h1>Awesome Blogs</h1>
  <br>
  <h3>Knowledge, Sharing, Inspiration</h3>
  <br>
  <form>
    <!-- <label>Subscribe to our newsletter:</label><br>
    <input type="email" placeholder="e.g. john@doe.com">
    <input class="btn btn-danger" type="submit" value="Subscribe"> -->
    <label>Join Our Community:</label><br>
    <%= link_to "Sign up", new_user_path, class: "btn btn-info" %>
  </form>
</div>
<div class="container">
