// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post-comment {
  height: 200px;
}

.post-comment__textarea {
  height: 80% !important;
}

.checkbox-s {
 display: inline;
 margin-top: 5px;
}

.checkbox-s label {
 font-weight: normal;
}

.checkbox-s input[type="checkbox"] {
 margin-right: 5px;
}

.row::after {
  content: "" !important;
}

.row::before {
  content: "" !important;
}
